<div>
<%= image_tag("card1.jpg", class:"card-img-top")%>
</div>
<div class="jumbotron">
  <h1 class="display-4">환영합니다</h1>
  <p class="lead">멋쟁이 사자처럼은 제가 먹겠습니다.</p>
  <hr class="my-4">
  
  <a class="btn btn-dark btn-lg" href="/" role="button">Learn more</a>
</div>