<div class="d-flex justify-content-around" >

    <div class="card" style="width: 18rem;">
        
        <%= image_tag("card1.jpg", class:"card-img-top")%>
    <div class="card-body">
        <h5 class="card-title">멋쟁이사자처럼소개</h5>
        <p class="card-text">한결이에게 내용을 무엇을 썼냐고 물어보았는데 저는 개소리를 썼어요라고 대답해서 그 내용을 여기 담았습니다.</p>
        
    </div>
    </div>

    <div class="card" style="width: 18rem;">
         <%= image_tag("card1.jpg", class:"card-img-top")%>
    <div class="card-body">
        <h5 class="card-title">멋쟁이사자처럼소개</h5>
        <p class="card-text">한결이에게 내용을 무엇을 썼냐고 물어보았는데 저는 개소리를 썼어요라고 대답해서 그 내용을 여기 담았습니다.</p>
        
    </div>
    </div>  

    <div class="card" style="width: 18rem;">
         <%= image_tag("card1.jpg", class:"card-img-top")%>
    <div class="card-body">
        <h5 class="card-title">멋쟁이사자처럼소개</h5>
        <p class="card-text">한결이에게 내용을 무엇을 썼냐고 물어보았는데 저는 개소리를 썼어요라고 대답해서 그 내용을 여기 담았습니다.</p>
        
    </div>
    </div>  

</div>
